{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>{{ 'profile.edit.pageTitle' }}</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'homepage'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_profile_show') }}">{{ 'profile.show' }}</a></li>
                    <li class="active">{{ 'profile.edit' }}</li>
                </ol>
            </section>
            <section class="content">
                <br />
                {{ form_start(form, { 'action': path('fos_user_profile_edit'),
                    'attr': { 'class': 'fos_user_profile_edit form-horizontal' } }) }}
                <div class="col-lg-3 text-center">
                    {% if form.vars.value.path != '' %}
                    <div class="text-right" style="height: 20px;">
                        <a href="{{ path('users_delete_photo', {id:form.vars.value.id}) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                    <img id="previewImg" src="/data/users/{{ form.vars.value.id }}/{{ form.vars.value.path }}"
                         class="img img-thumbnail" />
                    {% else %}
                        <div style="height: 20px;">&nbsp;</div>
                        <img id="previewImg" src="" class="img img-thumbnail" />
                    {% endif %}
                    {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
                    <span class="text-danger">{{ form_errors(form.file) }}</span>
                </div>
                <div class="col-lg-9 text-center">
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{ 'profile.edit.firstname'|trans }}:
                        </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                            <span class="text-danger">{{ form_errors(form.firstname) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{ 'profile.edit.lastname'|trans }}:
                        </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                            <span class="text-danger">{{ form_errors(form.lastname) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{ 'profile.edit.patronymic'|trans }}:
                        </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.patronymic, { 'attr': {'class': 'form-control'} }) }}
                            <span class="text-danger">{{ form_errors(form.patronymic) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{ 'profile.edit.birthday'|trans }}:
                        </label>
                        <div class="col-sm-9">
                            <div class="input-group date datepicker">
                                {{ form_widget(form.birthday, {'attr': {'class': 'form-control'} }) }}
                                <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                            </div>
                            <span class="text-danger">{{ form_errors(form.birthday) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{ 'profile.edit.username'|trans }}:
                        </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                            <span class="text-danger">{{ form_errors(form.username) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{ 'profile.edit.email'|trans }}:
                        </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            <span class="text-danger">{{ form_errors(form.email) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">
                            {{ 'profile.edit.current_password'|trans }}:
                        </label>
                        <div class="col-sm-9">
                            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                            <span class="text-danger">{{ form_errors(form.current_password) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-success">{{ 'profile.edit.submit'|trans }}</button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}
