{% extends '::base.html.twig' %}

{% block body %}
    <u><h1>{{ category.name }}</h1></u>
    {% if category.children is not empty %}
        <h2>Children</h2>
        <ol>
            {% for child in category.children %}
                <li><a href="{{ path('category_view', {'id': child.slug}) }}">{{ child.name }}</a></li>
            {% endfor %}
        </ol>
    {% endif %}
    {% if category.products is not empty %}
        <h2>Products</h2>
        <ul>
            {% for product in category.products %}
                <li>
                    <h3><a href="{{ path('product_public_homepage', {'category_slug': category.slug, 'product_slug': product.slug}) }}">{{ product.name }}</a></h3>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}