{% extends '::base.html.twig' %}

{% block body %}
    <div id='loader' style="display: none; position: absolute; width: 300px; height: 100px; top: 20px; right: 10px; border-radius: 10px;">
        <span id="loader_span" style="display: block;position: absolute;top: 40%;right: 35%;color: white;"></span>
    </div>
    <h1><u>{{ product.name }}</u></h1>
    <h2>Attributes</h2>
    <ul>
        {% if product.mainImage is not empty %}
            <li>Main Image:</li>
            <a href="{{ product.mainImage.webPath }}" target="_blank"><img src="{{ product.mainImage.webPath }}" alt="{{ product.name }}" width="150"></a>
        {% endif %}
        <li>Price: </li> <span>{{ product.price }}</span>
        <li>Vendor: </li> <span>{{ product.vendor }}</span>
        <li>Status: </li>
        {% if product.status %}
            <span>Available</span>
        {% else %}
            <span>Not available</span>
        {% endif %}
        <li>Content: </li>
        <p>{{ product.content }}</p>
        <li>Sizes:
            <ol>
                {% set sizes = product.sizes %}
                {% if sizes|length > 0 %}
                    {% for i in 0..sizes|length - 1 %}
                        <li class="size_elem{% if i == 0 %} active{% endif %}" data-size="{{ sizes[i].id }}">{{ sizes[i].name }}</li>
                    {% endfor %}
                {% endif %}
            </ol>
        </li>
        <li>Colors:
            <ol>
                {% set colors = product.colors %}
                {% if colors|length > 0 %}
                    {% for i in 0..colors|length - 1 %}
                        <li class="col_elem{% if i == 0 %} active{% endif %}" data-color="{{ colors[i].id }}">{{ colors[i].name }}</li>
                    {% endfor %}
                {% endif %}
            </ol>
        </li>
        {% if product.images is not empty %}
            <li>Additional images:</li>
            {% for image in product.images %}
                <a href="{{ image.webPath }}" target="_blank"><img src="{{ image.webPath }}" alt="{{ product.name }}" width="150" style="margin-right: 10px"></a>
            {% endfor %}
        {% endif %}
        {% if product.similars is not empty %}
            <li>Similar:
                <ol>
                    {% for similar in product.similars %}
                        <li><a href="{{ path('product_public_homepage', {'category_slug': similar.categories|first.slug, 'product_slug': similar.slug}) }}">{{ similar.name }}</a></li>
                    {% endfor %}
                </ol>
            </li>
        {% endif %}
    </ul>
    <button class="btn btn-success" id="addToCart" data-product="{{ product.id }}">Add To Cart</button>
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" id="quantity" value="1">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/product/css/style.css') }}">
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('bundles/product/js/script.js') }}"></script>
{% endblock %}