{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>LOGIN</h1>
                    <ol class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Login</li>
                    </ol>
            </section>
            <section class="content">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            </section>
        </div>
    </div>
{% endblock %}
