{% extends 'base.html.twig' %}

{% block body %}

	<div class="content-wrapper">
		<div class="container">
			<section class="content-header">
				<h1>{{ 'user.register.pageTitle'|trans }}</h1>
				<ol class="breadcrumb">
					<li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'homepage'|trans }}</a></li>
					<li class="active">{{ 'user.register'|trans }}</li>
				</ol>
			</section>
			<section class="content">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="sign-form">
						{#<h3 class="first-child">{{ 'CreateAccount'|trans }}</h3>#}
						<hr />
						<form action="{{ path('fos_user_registration_register') }}" method="post" role="form" enctype="multipart/form-data">
						<div class="form-group">
								{{ form_widget(form.username, { 'attr': {'class': 'form-control',
									'placeholder': 'Login'|trans} }) }}
								{{ form_errors(form.username) }}
						</div>
						<div class="form-group">
								{{ form_widget(form.email, { 'attr': {'class': 'form-control',
									'placeholder': 'E-mail'} }) }}
								{{ form_errors(form.email) }}
						</div>
						<div class="form-group">
								<div class="row">
								<div class="col-sm-6">
										{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control',
											'placeholder': 'Passwd'|trans} }) }}
										{{ form_errors(form.plainPassword.first) }}
								</div>
								<div class="col-sm-6">
										{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control',
											'placeholder': 'RePasswd'|trans} }) }}
										{{ form_errors(form.plainPassword.second) }}
								</div>
								</div>
						</div>

						<div class="form-group">
								{{ form_widget(form.firstname, { 'attr': {'class': 'form-control',
									'placeholder': 'Firstname'|trans} }) }}
								{{ form_errors(form.firstname) }}
						</div>
						<div class="form-group">
								{{ form_widget(form.lastname, { 'attr': {'class': 'form-control',
									'placeholder': 'Lastname'|trans} }) }}
								{{ form_errors(form.firstname) }}
						</div>
						<div class="form-group">
								{{ form_widget(form.patronymic, { 'attr': {'class': 'form-control',
									'placeholder': 'Patronymic'|trans} }) }}
								{{ form_errors(form.patronymic) }}
						</div>
						<div class="form-group">
								{{ form_widget(form.birthday, { 'attr': {'class': 'form-control',
									'placeholder': 'YYYY-MM-DD'} }) }}
								{{ form_errors(form.birthday) }}
						</div>
						<div class="form-group">
								{{ form_widget(form.file, { 'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.file) }}
						</div>

					{#
						<div class="checkbox">
								<label>
								<input type="checkbox" /> Я согласен с правилами и условиями
								<a href="#">Правила и условия</a> и
								<a href="#">Политика конфиденциальности</a>
								</label>
						</div>
					#}
							<button type="submit" class="btn btn-success">{{ 'ButtonRegistrations'|trans }}</button>
						{{ form_rest(form) }}
						</form>
				</div>
				</div>
			</section>
	    </div>
	</div>

    <script>
	$('#registrationForm').validate({
	    rules: {
		'fos_user_registration_form[username]': {
		    minlength: 6,
		    maxlength: 25,
		    lettersonly: true,
		    required: true
		    },
		'fos_user_registration_form[email]': {
		    email: true,
		    required: true
		    },
		'fos_user_registration_form[plainPassword][first]': {
		    minlength: 6,
		    maxlength: 50,
		    required: true
		    },
		'fos_user_registration_form[plainPassword][second]': {
		    minlength: 6,
		    maxlength: 50,
		    required: true
		    }
		},
	    highlight: function(element) {
		$(element).closest('.form-group').addClass('has-error');
		},
	    unhighlight: function(element) {
		$(element).closest('.form-group').removeClass('has-error');
		},
	    errorElement: 'span',
	    errorClass: 'help-block',
	    errorPlacement: function(error, element) {
		if(element.parent('.input-group').length) { error.insertAfter(element.parent()); }
		else { error.insertAfter(element); }
		}
	    });
    </script>

{% endblock %}
