{% extends '::admin.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Розміри</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Головна</a></li>
                <li><a href="{{ path('admin') }}">Адмін-панель</a></li>
                <li class="active">Розміри</li>
            </ol>
        </section>
        <section class="content">
            <nav class="navbar navbar-default navbar-white-group" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-collapse">
                        <div class="navbar-left"></div>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('size_create') }}"><i class="fa fa-plus-circle"></i> Додати розмір</a></li>
                    </ul>
                </div>
            </nav>
            <div class="well well-white-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><h4><b>#</b></h4></th>
                        <th><h4><b>Назва</b></h4></th>
                        <th class="text-right" style="width: 220px;"><h4><b>Дія</b></h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in sizes %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.name }}</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a href="{{ path('size_edit', {id:i.id}) }}" class="btn btn-sm btn-default">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    <a href="{{ path('size_delete', {id:i.id}) }}" onclick="return confirm('Remove size?');" class="btn btn-sm btn-default">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include '::perpage.html.twig' %}
                {% block sub%}{% endblock %}
                <div class="navigation text-center">
                    {{ knp_pagination_render(sizes) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}