{% extends '::admin.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Панель адміністрування</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Головна</a></li>
                <li><a href="{{ path('admin') }}">Амін-панель</a></li>
            </ol>
        </section>
        <section class="content">
        </section>
    </div>
{% endblock %}