{% extends '::admin.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>General Settings</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Головна</a></li>
                <li class="active">General Settings</li>
            </ol>
        </section>
        <section class="content">
            {{ form_start(form) }}
            <div class="well well-white-group">
                <div class="form-group">
                    <label for="post">Facebook</label>
                    {{ form_widget(form.facebook, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.facebook) }}
                </div>
                <div class="form-group">
                    <label for="post">Twitter</label>
                    {{ form_widget(form.twitter, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.twitter) }}
                </div>
                <div class="form-group">
                    <label for="post">Instagram</label>
                    {{ form_widget(form.instagram, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.instagram) }}
                </div>
                <div class="form-group">
                    <label for="post">Location</label>
                    {{ form_widget(form.location, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.location) }}
                </div>
                <div class="form-group">
                    <label for="post">Telephone</label>
                    {{ form_widget(form.telephone, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.telephone) }}
                </div>
                <div class="form-group">
                    <label for="post">E-mail</label>
                    {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group">
                    <label for="post">Admin E-mail</label>
                    {{ form_widget(form.admin_email, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.admin_email) }}
                </div>
            </div>
            <div class="well well-white-group">
                <button class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Зберігти
                </button>
            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}