{% extends '::base.html.twig' %}

{% block body %}
    <p>ID: {{ order.id }}</p>
    <p>First name: {{ order.firstName }}</p>
    <p>Last Name: {{ order.lastName }}</p>
    <p>E-mail: {{ order.email }}</p>
    <p>Telephone: {{ order.telephone }}</p>
    <p>Address: {{ order.address }}</p>
    <p>Created: {{ order.creation|date('m/d/Y H:i:s') }}</p>
{% endblock %}