{% extends '::admin.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Закази</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Головна</a></li>
                {#                <li><a href="{{ path('admin') }}">Адмін-панель</a></li>#}
                <li><a href="{{ path('order_homepage') }}">Закази</a></li>
                <li class="active">Редагування заказу</li>
            </ol>
        </section>
        <section class="content">
            {{ form_start(form) }}
            <div class="well well-white-group">
                <div class="form-group">
                    <label for="post">Імʼя</label>
                    {{ form_widget(form.firstName, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="form-group">
                    <label for="post">Прізвище</label>
                    {{ form_widget(form.lastName, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.lastName) }}
                </div>
                <div class="form-group">
                    <label for="post">Телефон</label>
                    {{ form_widget(form.telephone, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.telephone) }}
                </div>
                <div class="form-group">
                    <label for="post">E-mail</label>
                    {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group">
                    <label for="post">Адреса</label>
                    {{ form_widget(form.address, {'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.address) }}
                </div>
            </div>
            <div class="well well-white-group">
                <button class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Зберігти
                </button>
            </div>
            {{ form_end(form) }}
            <div class="list-group">
                {% for item in orderProducts %}
                    <div class="list-group-item">
                        <span class="badge">{{ item.quantity }}</span>
                        <h4 class="list-group-item-heading">{{ item.product.name }}</h4>
                        {% if item.product.mainImage is not empty %}
                            <img src="{{ item.product.mainImage.webPath }}" alt="{{ item.product.name }}" width="100">
                        {% endif %}
                        <p class="list-group-item-text" style="display: inline-block; vertical-align: middle; margin-left: 20px;">
                            Vendor: {{ item.product.vendor }}<br>
                            Size: {{ item.size.name }}<br>
                            Color: {{ item.color.name }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
