{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="wrapper">
	<div class="topic">
	    <div class="container">
		<div class="row">
		    <div class="col-sm-4">
			<h3 class="primary-font">Восстановление пароля</h3>
		    </div>
		    <div class="col-sm-8">
			<ol class="breadcrumb pull-right hidden-xs">
			    <li><a href="{{ path('homepage') }}">Главная</a></li>
			    <li class="active">Восстановление пароля</li>
			</ol>
		    </div>
		</div>
	    </div>
	</div>
	<hr>
	<br />
	<br />
	<div class="container">
	    <div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		    <div class="sign-form">
			<h3 class="first-child">Внимание</h3>
			<hr />
			<h4 class="text-justify text-danger">
			    <p>
				&nbsp;&nbsp;&nbsp;&nbsp;Электронное сообщение было отправлено на указанный почтовый адрес.
				Оно содержит ссылку по которой Вам необходимо перейти, чтобы сбросить пароль.
			    </p>
			    <p>&nbsp;&nbsp;&nbsp;Проверте, пожалуйста, Вашу почту.</p>
			</h4>
		    </div>
		</div>
	    </div>
	</div>
	<br />
    </div>

{% endblock %}