{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="wrapper">
	<div class="topic">
	    <div class="container">
		<div class="row">
		    <div class="col-sm-4">
			<h3 class="primary-font">Сброс пароля</h3>
		    </div>
		    <div class="col-sm-8">
			<ol class="breadcrumb pull-right hidden-xs">
			    <li><a href="{{ path('homepage') }}">Главная</a></li>
			    <li class="active">Сброс пароля</li>
			</ol>
		    </div>
		</div>
	    </div>
	</div>
	<hr>
	<br />
	<br />
	<div class="container">
	    <div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		    <div class="sign-form">
			<h3 class="first-child">Новый пароль</h3>
			<hr />
{#
			{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
			    {{ form_widget(form) }}
			    <div>
			        <button type="submit" class="btn btn-color">Обновить пароль</button>
			    </div>
			{{ form_end(form) }}
#}
			<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST">
			    <div class="form-group">
				<div class="row">
				    <div class="col-sm-12">
					{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Введите новый пароль'} }) }}
					{{ form_errors(form.plainPassword.first) }}
				    </div>
				</div>
			    </div>
			    <div class="form-group">
				<div class="row">
				    <div class="col-sm-12">
					{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Повторите пароль'} }) }}
					{{ form_errors(form.plainPassword.second) }}
				    </div>
				</div>
			    </div>
			    <button type="submit" class="btn btn-color">Обновить пароль</button>
			    {{ form_rest(form) }}
			</form>
		    </div>
		</div>
	    </div>
	</div>
	<br />
    </div>

{% endblock %}
