{% if is_granted("ROLE_ADMIN") %}
    <li><a href="{{ path('admin') }}"><i class="fa fa-dashboard"></i> Admin</a></li>
{% endif %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% if user.profile is defined and user.profile != null and user.profile.path != '' %}
            {% set path = '/data/users/'~user.id~'/'~user.profile.path %}
            <img src="{{ path|imagine_filter('user_avatar_thumb') }}" class="user-image" alt="User Image">
        {% else %}
            <img src="/bundles/app/images/avatar.jpg" class="img-circle user-image" alt="User Image">
        {% endif %}
        <span class="hidden-xs">
                {% if user.profile is defined %}
                    {% if user.profile.firstname is defined %}{{ user.profile.firstname }}{% endif %}
                    {% if user.profile.lastname is defined %}{{ user.profile.lastname }}{% endif %}
                    {% if user.profile.firstname is not defined and user.profile.lastname is not defined %}
                        {{ user.username }}
                    {% endif %}
                {% else %}
                    NotDefined
                {% endif %}
            </span>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            {% if user.profile is defined and user.profile != null and user.profile.path != '' %}
                {% set path = '/data/users/'~user.id~'/'~user.profile.path %}
                <img src="{{ path|imagine_filter('user_avatar_thumb') }}" class="img-circle" alt="User Image">
            {% else %}
                <img src="/bundles/app/images/avatar.jpg" class="img-circle" alt="User Image">
            {% endif %}
            <p>
                {% if user.profile is defined %}
                    {% if user.profile.firstname is defined %}{{ user.profile.firstname }}{% endif %}
                    {% if user.profile.lastname is defined %}{{ user.profile.lastname }}{% endif %}
                    {% if user.profile.birthday is defined %}<small>{{ user.profile.birthday|date('d-m-Y') }}</small>{% endif %}
                    {% if user.profile.firstname is not defined and user.profile.lastname is not defined %}
                        {{ user.username }}
                    {% endif %}
                {% else %}
                    NotDefined
                {% endif %}
            </p>
        </li>
        <li class="user-footer">
            <div class="pull-left">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>