{% extends '::admin.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Новини</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Головна</a></li>
                {#                <li><a href="{{ path('admin') }}">Адмін-панель</a></li>#}
                <li><a href="{{ path('news_index') }}">Новини</a></li>
                <li class="active">Створення новини</li>
            </ol>
        </section>
        <section class="content">
            {{ form_start(form) }}
            {% block a2lix_translations_widget %}
                {{ form_errors(form) }}
                <div class="a2lix_translations tabbable">
                    <ul class="a2lix_translationsLocales nav nav-tabs">
                        {% for translationsFields in form.translations %}
                            {% set locale = translationsFields.vars.name %}
                            {% if app.request.locale == locale %}
                                <li class="active">
                            {% else%}
                                <li>
                            {% endif %}
                            <a href="#" data-toggle="tab" data-target=".{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }}">
                                {{ locale|capitalize }}
                                {% if form.translations.vars.default_locale == locale %}
                                    [Default]
                                {% endif %}
                                {% if translationsFields.vars.required %}*{% endif %}
                            </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="a2lix_translationsFields tab-content"
                         style="background:#fff; border-top: 0; border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;">
                        {% for translationsFields in form.translations %}
                            {% set locale = translationsFields.vars.name %}
                            <div class="{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }}
                                tab-pane {% if app.request.locale == locale %}active{% endif %}
                                {% if not form.vars.valid %} sonata-ba-field-error{% endif %}">
                                <div style="padding: 20px;">
                                    <div class="form-group">
                                        <label for="title">Назва</label>
                                        {{ form_widget(translationsFields.name, {'attr':{'class':'form-control', 'data-validation': 'length', 'data-validation-length': 'min2'}}) }}
                                        {{ form_errors(translationsFields.name) }}
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Текст новини</label>
                                        {{ form_widget(translationsFields.description, {'attr':{'class':'form-control', 'data-validation': 'length', 'data-validation-length': 'min2'}}) }}
                                        {{ form_errors(translationsFields.description) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}

            <div class="well well-white-group">
                <div class="form-group">
                    <label for="post">Головна картинка</label>
                    <div>
                        <span class="btn btn-default btn-file"><span>Choose file</span>{{ form_widget(form.backgroundFile, {'attr': {'data-validation': 'mime size', 'data-validation-max-size': '10M', 'data-validation-allowing': 'jpg, jpeg, png, gif'}}) }}</span>
                        {% if form.vars.value.id is not null %}
                            <button class="btn btn-danger pull-right" id="removeBackgroundImageBtn" data-href="{{ path('news_background_image_remove', {'id': form.vars.value.id }) }}">Remove main image</button>
                        {% endif %}
                    </div>
                    {{ form_errors(form.backgroundFile) }}
                </div>
                <div class="form-group">
                    <label for="post">Активна</label>
                    {{ form_widget(form.status, {'attr': {'checked':true}}) }}
                    {{ form_errors(form.status) }}
                </div>
            </div>

            <div class="well well-white-group">
                <button class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Зберегти
                </button>
            </div>
            {{ form_end(form) }}

        </section>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="/bundles/app/js/tinymce/tinymce.min.js"></script>
    <script>
        //$.validate();
        $(document).ready(function() {
            $('#removeBackgroundImageBtn').on('click', function (e) {
                e.preventDefault();
                var link = $(this).data('href');
                $.post(link);
                console.log(link);
            })
        });

        tinymce.init(
            {
                selector: "textarea",
                height: 400,
                plugins: [
                    "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "table contextmenu directionality emoticons template textcolor paste textcolor colorpicker textpattern"
                ],
                external_filemanager_path: "/data/external/ResponsiveFileManager/filemanager/",
                filemanager_title: "Файловий менеджер",
                external_plugins: {"filemanager" : "/data/external/ResponsiveFileManager/filemanager/plugin.min.js"},

                toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
                toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
                toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | visualchars visualblocks nonbreaking template pagebreak restoredraft",

                menubar: false,
                toolbar_items_size: 'small',

                style_formats: [{
                    title: 'Bold text',
                    inline: 'b'
                }, {
                    title: 'Red text',
                    inline: 'span',
                    styles: {
                        color: '#ff0000'
                    }
                }, {
                    title: 'Red header',
                    block: 'h1',
                    styles: {
                        color: '#ff0000'
                    }
                }, {
                    title: 'Example 1',
                    inline: 'span',
                    classes: 'example1'
                }, {
                    title: 'Example 2',
                    inline: 'span',
                    classes: 'example2'
                }, {
                    title: 'Table styles'
                }, {
                    title: 'Table row 1',
                    selector: 'tr',
                    classes: 'tablerow1'
                }],

                templates: [{
                    title: 'Test template 1',
                    content: 'Test 1'
                }, {
                    title: 'Test template 2',
                    content: 'Test 2'
                }],
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tinymce.com/css/codepen.min.css'
                ]
            }
        );
    </script>
{% endblock %}