{% extends '::base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>{{ 'blog.post.create.pageTitle' }}</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'Home'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_profile_show') }}">{{ 'users.profile'|trans }}</a></li>
                    <li class="active">{{ 'users_blog.post.view.all'|trans }}</li>
                </ol>
            </section>
            <section class="content">
                {% include 'users_menu.html.twig' %}
                <br />
                <div class="well-white-group text-right">
                    <a href="{{ path('users_blog_post_create') }}" class="btn btn-success">Create BLOG Post</a>
                </div>
                <br />
                {% set i=1 %}
                {% for p in posts %}
                    <div class="row">
                        <div class="col-md-1">{{ i }}</div>
                        <div class="col-md-9">
                            <a href="{{ path('users_blog_post_view_one', {'slug': p.slug}) }}">
                                <b>{{ p.title }}</b>
                            </a>
                            <p>{{ p.brief|raw }}</p>
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('users_blog_post_edit', {'id': p.id}) }}">
                                <span class="fa fa-edit"></span>
                            </a>
                            <a href="{{ path('users_blog_post_remove', {'id': p.id}) }}">
                                <span class="fa fa-remove"></span>
                            </a>
                        </div>
                    </div>
                    {% set i=i+1 %}
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}